<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scotiabankpaymentsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cocacola.CCCreateInvoice"
            android:parentActivityName=".cocacola.CCClickCustomers"/>
        <activity android:name=".cocacola.CCInvoiceManipulationChoice"
            android:parentActivityName=".cocacola.CCClickCustomers"/>
        <activity
            android:name=".cocacola.CCClickCustomers"
            android:parentActivityName=".cocacola.home.CCHomeActivity" />
        <activity
            android:name=".businessowner.SBOSeeOrders"
            android:parentActivityName=".businessowner.home.SBOHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.RegisterActivity"
            android:label="@string/app_name"
            android:parentActivityName=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".businessowner.home.SBOHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".businessowner.SBODisplayInvoice"
            android:parentActivityName=".businessowner.SBOSeeOrders"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cocacola.home.CCHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cocacola.CocaColaSeeInvoices"
            android:parentActivityName=".cocacola.home.CCHomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".driver.home.DriverHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.DriverSeeDeliveries"
            android:parentActivityName=".driver.home.DriverHomeActivity" />
        <activity
            android:name=".driver.DriverDisplayInvoice"
            android:parentActivityName=".driver.DriverSeeDeliveries" />

    </application>

</manifest>