<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scotiabankpaymentsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".userinfo.UserInformationActivity"></activity>
        <activity
            android:name=".cocacola.createinvoice.CCCreateInvoiceActivity"
            android:parentActivityName=".cocacola.seecustomers.CCSeeCustomerActivity" />
        <activity
            android:name=".cocacola.CCInvoiceSeeOrCreate"
            android:parentActivityName=".cocacola.seecustomers.CCSeeCustomerActivity" />
        <activity
            android:name=".cocacola.seecustomers.CCSeeCustomerActivity"
            android:parentActivityName=".cocacola.home.CCHomeActivity" />
        <activity
            android:name=".businessowner.seeinvoices.SBOSeeInvoicesActivity"
            android:parentActivityName=".businessowner.home.SBOHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.RegisterActivity"
            android:label="@string/app_name"
            android:parentActivityName=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".businessowner.home.SBOHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".businessowner.displayinvoice.SBODisplayInvoiceActivity"
            android:parentActivityName=".businessowner.seeinvoices.SBOSeeInvoicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cocacola.home.CCHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.home.DriverHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".driver.seeinvoices.DriverSeeInvoicesActivity"
            android:parentActivityName=".driver.home.DriverHomeActivity" />
        <activity
            android:name=".driver.displayinvoice.DriverDisplayInvoiceActivity"
            android:parentActivityName=".driver.seeinvoices.DriverSeeInvoicesActivity" />
    </application>

</manifest>